<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>loadcohort</servlet-name>
        <servlet-class>data.loadcohort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatedbpword</servlet-name>
        <servlet-class>db.updatedbpword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>data.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>save</servlet-name>
        <servlet-class>data.save</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importpmtct</servlet-name>
        <servlet-class>imports.importpmtct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importart</servlet-name>
        <servlet-class>imports.importart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getCohortMonths</servlet-name>
        <servlet-class>data.getCohortMonths</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>multisave</servlet-name>
        <servlet-class>data.multisave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enrolledFromImis</servlet-name>
        <servlet-class>data.enrolledFromImis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSavedCohort</servlet-name>
        <servlet-class>data.loadSavedCohort</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cleanduplicates</servlet-name>
        <servlet-class>scripts.cleanduplicates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addbirthyearmonth</servlet-name>
        <servlet-class>scripts.addbirthyearmonth</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>importpns</servlet-name>
        <servlet-class>imports.importpns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rawdata</servlet-name>
        <servlet-class>reports.rawdata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IdGenerator</servlet-name>
        <servlet-class>General.IdGenerator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loadcohort</servlet-name>
        <url-pattern>/loadcohort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatedbpword</servlet-name>
        <url-pattern>/updatedbpword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>save</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importpmtct</servlet-name>
        <url-pattern>/importpmtct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importart</servlet-name>
        <url-pattern>/importart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getCohortMonths</servlet-name>
        <url-pattern>/getCohortMonths</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>multisave</servlet-name>
        <url-pattern>/multisave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enrolledFromImis</servlet-name>
        <url-pattern>/enrolledFromImis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSavedCohort</servlet-name>
        <url-pattern>/loadSavedCohort</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cleanduplicates</servlet-name>
        <url-pattern>/cleanduplicates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addbirthyearmonth</servlet-name>
        <url-pattern>/addbirthyearmonth</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>importpns</servlet-name>
        <url-pattern>/importpns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rawdata</servlet-name>
        <url-pattern>/rawdata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IdGenerator</servlet-name>
        <url-pattern>/IdGenerator</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
